Invoice-Automation/Invoice Automation.json
{
  "name": "Invoice Automation",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea375e70-df4f-4def-8e5e-bdb76885dd7e",
              "leftValue": "={{ $binary.attachment_0 }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        0
      ],
      "id": "a0923288-44dd-49c8-bf3a-30d7b582c225",
      "name": "If"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "=subject:Invoice has:attachment",
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        0
      ],
      "id": "080f6d37-5895-4a76-bc8a-b615c5effd7d",
      "name": "Invoice Message",
      "credentials": {
        "gmailOAuth2": {
          "id": "vJEy0NlKYbSu1ZTb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -32,
        -96
      ],
      "id": "49bae569-e45e-4d61-9d91-9b0969db3bf1",
      "name": "OCR or PDF Reader"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Invoice Message').item.json.from.value[0].address }}",
        "subject": "Invoice attachment",
        "message": "=HI {{ $('Invoice Message').item.json.from.value[0].name }}, I want you to let to know thta you send empty invoice message please attach PDf file of my invoice so i can use it.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -32,
        128
      ],
      "id": "5818f7c2-8dcc-46f3-a64e-b6872a4d7f46",
      "name": "Send Empty invoice message",
      "webhookId": "8a07fc81-2eb4-4aa6-9d5d-767e13c62012",
      "credentials": {
        "gmailOAuth2": {
          "id": "vJEy0NlKYbSu1ZTb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json[\"text\"] || \"\";\n\n// Extract Company\nconst companyMatch = text.match(/Form\\s+(.+?)\\s+company/i);\nconst company = companyMatch ? companyMatch[1].trim() : \"Unknown\";\n\n// Extract Invoice Number (# 873878731)\nconst invoiceNumber = text.match(/#\\s*(\\d+)/)?.[1] || \"N/A\";\n\n// Extract Due Date\nconst dueDate = text.match(/Due\\s*Date:\\s*([A-Za-z]+\\s+\\d{1,2},\\s+\\d{4})/i)?.[1] || \"N/A\";\n\n// Extract Total Amount\nconst total = text.match(/Total\\s*\\$?([\\d,]+\\.\\d{2})/i)?.[1] || \"0.00\";\n\n// Extract Items with Quantity + Amount\nlet items = [];\nconst itemLines = text.match(/ITEM[\\s\\S]*?Total/);  // everything between ITEM and Total\nif (itemLines) {\n  const lines = itemLines[0].split(\"\\n\").map(l => l.trim());\n  for (let line of lines) {\n    const m = line.match(/([A-Za-z ]+)\\s+(\\d+)\\s+\\$([\\d,]+\\.\\d{2})\\s+\\$([\\d,]+\\.\\d{2})/);\n    if (m) {\n      items.push({\n        name: m[1].trim(),\n        quantity: parseInt(m[2]),\n        rate: m[3],\n        amount: m[4]\n      });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    company,\n    invoiceNumber,\n    dueDate,\n    total,\n    items\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -96
      ],
      "id": "e15015fb-18da-47b7-8fa6-44dc57037643",
      "name": "convert invoice Data into Json"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ZuEvv_mbHlt9OY7650uRz4ofWvhaFonoXilNWxkTW4A",
          "mode": "list",
          "cachedResultName": "Invoice Messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZuEvv_mbHlt9OY7650uRz4ofWvhaFonoXilNWxkTW4A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZuEvv_mbHlt9OY7650uRz4ofWvhaFonoXilNWxkTW4A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.invoiceNumber }}",
            "Amount": "={{ $json.total }}",
            "Company": "={{ $json.company }}",
            "Due Date": "={{ $json.dueDate }}"
          },
          "matchingColumns": [
            "Invoice Number"
          ],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -96
      ],
      "id": "171253c4-7047-486e-a3e8-1fe6ae10bc4c",
      "name": "Save in google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tpedAgflvdJrD7Yf",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "OCR or PDF Reader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Empty invoice message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR or PDF Reader": {
      "main": [
        [
          {
            "node": "convert invoice Data into Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert invoice Data into Json": {
      "main": [
        [
          {
            "node": "Save in google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "53eb3f96-c388-4b8e-adfd-6d4a83a040ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fccd36ecdef6da91db436c5860fc3344d2ca06464c03842663f33fe26db558f"
  },
  "id": "BqV9Yxw20lmCCDJU",
  "tags": []
}